---
import Layout from '../layouts/Layout.astro';
import { getCollection, render } from "astro:content";

export async function getStaticPaths() {
  const posts = await getCollection("posts");
  return posts.map((post: any) => ({
    params: { id: post.slug },
    props: { post },
  }));
}

const { post } = Astro.props;
const { data } = post;
const { title, image } = data;

const { Content } = await render(post);
---

<Layout>
    <div class="prose lg:prose-xl m-auto">
      <h1 class="text-4xl font-bold text-balance">{title}</h1>
      <img class="h-full" src={image} alt={title} />
      <Content />
    </div>
</Layout>
